body {
    background: #7f7f7f;
    font-family: helvetica, sans-serif;
    color: #ffffff;
    margin: 0
}

#container {
    padding: 50px 20% 30px 15%;
    width: 485px;
    margin: 0, auto;
}

h1 {
    margin: 0 0 10px;
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

img {
    max-width: 485px;
}

li a {
    display: block;
    width: 40px;
    padding: 0.5em 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: futura, sans-serif;
    background-color: black;
}

li a:hover {
    background-color: lightseagreen;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-left: 15%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

p {
    font-size: 0.8em;
    font-family: verdana;
    margin: 30px 0;
}
